<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C58E5F21C3233CE0003D25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C58E60B1C3233CF0003D25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C58E6161C3233CF0003D25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
